<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <!-- launch nodes required for starting the simulation-->
  <node name="move_head_node" pkg="sofar_assignment" type="move_head_node"/>  
  <node name="spawn_box_server" pkg="sofar_assignment" type="spawn_box_server.py"/> 
  <node name="box_tracker_server" pkg="sofar_assignment" type="box_tracker_server.py"/>
  <node name="color_detection_server" pkg="sofar_assignment" type="color_detection_server.py"/>
  <node name="main_node" pkg="sofar_assignment" type="main_node" launch-prefix="bash -c" output="screen" required="true"/>

</launch>
